{{ partial "head.html" . }}

{{ partial "header.html" . }}

{{ partial "container_head.html" . }}

  <h1>{{ .Title }}</h1>

  {{ with .Params.subtitle }}
    <h4>{{ . }}</h4>
  {{ end }}

  <hr>

  <p>Posted{{ with .Params.author }} by {{ . }}{{ end }} on {{ .Date.Format "Jan 2, 2006" }}</p>
  <hr>

  {{ with .Params.image }}
    <img class="b-lazy img-responsive" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ . }}" alt=""></img>
    <hr>
  {{ end }}

  {{ .Content }}

  <hr>

{{ partial "container_foot.html" . }}

{{ partial "foot.html" . }}
