/* Align content under top menubar */
body {
    padding-top: 70px;
    font-family: Lato;
    font-weight: 300;
}
.logoheader img{
    height: 120%;
}

/* Makes a div clickable by expanding an inner a */
.hyperdiv {
    position: relative;
    padding: 10px;
}
.hyperdiv:hover {
    background-color: lightcyan;
}
.hyperdiv-link {
    opacity: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

/* In-post grids */
.img-grid-elem {
    margin: 10px 0px;
}
