{{ partial "head.html" . }}

{{ partial "header.html" . }}

{{ partial "container_head.html" . }}

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">INNOKI
        <small>Blog</small>
        <small style="color: lightgray;">| Tag-Filter: {{ .Title }} | <a style="color: lightblue;" href="{{ .Site.BaseURL }}">Remove Filter</a></small>
      </h1>
    </div>
  </div>

  {{ range .Data.Pages }}
    {{ partial "post_list_item.html" . }}
    <hr>
  {{ end }}

{{ partial "container_foot.html" . }}

{{ partial "foot.html" . }}
