{{ partial "head.html" . }}

{{ partial "header.html" . }}

{{ partial "container_head.html" . }}

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">INNOKI
        <small>Blog</small>
        <small style="color: lightgray;">|</small>
        <small style="color: lightgray;"><i class="fa fa-tag"></i> {{ .Title }}</small>
        <small style="color: lightgray;">|</small>
        <small><a style="color: lightblue;" href="{{ .Site.BaseURL }}"><i class="fa fa-reply"></i></a></small>
      </h1>
    </div>
  </div>

  {{ range .Data.Pages }}
    {{ partial "post_list_item.html" . }}
    <hr>
  {{ end }}

{{ partial "container_foot.html" . }}

{{ partial "foot.html" . }}
