<header id="header">
  <div class="container">
    <div class="row">

      <div class="col-md-3 col-xs-3">
        <div calss="logo-wrapper">
          <div class="logo">
            <a href="//innoki.de"><div class="logo-wrapper" style="width:180px;left:0px;top:0px;"><img src="/img/logo.png" alt="INNOKI" /></div></a>
          </div>
        </div>
      </div>

      <div class="col-md-9 col-xs-9">
        <nav id="main-menu-top">
          <ul id="menu-res" class="main-menu">
            <li class="menu-item"><a title="Start" href="//innoki.de/#header_slider">Start</a></li>
            <li class="menu-item"><a title="Angebot" href="//innoki.de/#angebot">Angebot</a></li>
            <li class="menu-item"><a href="//innoki.de/#team">Team</a></li>
            <li class="menu-item"><a title="Methoden" href="//innoki.de/#methoden">Methoden</a></li>
            <li class="menu-item"><a title="Referenzen" href="//inoki.de/#referenzen">Referenzen</a></li>
            <li class="menu-item"><a title="Aktuelles" href="//innoki.de/#aktuelles">Aktuelles</a></li>
            <li class="menu-item"><a title="Kontakt" href="//innoki.de/#contact">Kontakt</a></li>
            <li class="lang-item menu-item"><a href="//innoki.de/en/" hreflang="en">English</a></li>
          </ul>
        </nav>
        <nav class="menu-responsive">
        </nav>
      </div>

    </div>
  </div>
</header>
