<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll logoheader" href="//innoki.de"><img src="/img/logo.png" alt="INNOKI"/></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          {{/*
          <li><a class="page-scroll" href="//innoki.de/#header_slider">Start</a></li>
          <li><a class="page-scroll" href="//innoki.de/#angebot">Angebot</a></li>
          <li><a class="page-scroll" href="//innoki.de/#team">Team</a></li>
          <li><a class="page-scroll" href="//innoki.de/#methoden">Methoden</a></li>
          <li><a class="page-scroll" href="//innoki.de/#referenzen">Referenzen</a></li>
          <li><a class="page-scroll" href="//innoki.de/#contact">Kontakt</a></li>
          */}}
          <li><a href="//innoki.de/">Hauptseite</a></li>
          <li><a href="{{ .Site.BaseURL }}">Blog</a></li>
          <li><a href="/tags/lang-de" hreflang="de">Deutsche Posts</a></li>
          <li><a href="/tags/lang-en" hreflang="en">English Posts</a></li>
        </ul>
    </div>

  </div>
</nav>
