{{ partial "head.html" . }}

{{ partial "header.html" . }}

{{ partial "container_head.html" . }}

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">INNOKI
        <small>Blog</small>
      </h1>
    </div>
  </div>

  {{ range where .Data.Pages "Section" "post" }}
    <div class="row hyperdiv">
      <div class="col-md-7">
        <a href="#">
          {{ if .Params.image }}
            <img class="img-responsive" src="{{ .Params.image }}" alt="">
          {{ else }}
            <img class="img-responsive" src="//placekitten.org/700/300" alt="">
          {{ end }}
        </a>
      </div>
      <div class="col-md-5">
        <h3 style="margin-top: 0px;">{{ .Title | markdownify }}</h3>
        {{ with .Params.subtitle }}<h4>{{ . }}</h4>{{ end }}
        <p>{{ .Summary }}</p>
        <h3>...</h3>
      </div>
      <a href="{{ .Permalink }}"><span class="hyperdiv-link"></span></a>
    </div>
    <hr>
  {{ end }}

{{ partial "container_foot.html" . }}

{{ partial "foot.html" . }}
