{{ $params := .Params }}
<div class="row">
  {{ range .Params }}
    {{ if (eq (len $params) 1) }}
    <div class="col-lg-6 col-md-12 img-grid-elem">
    {{ else if (eq (len $params) 2) }}
    <div class="col-lg-4 col-md-6 img-grid-elem">
    {{ else if (eq (len $params) 3) }}
    <div class="col-md-4 img-grid-elem">
    {{ else if (eq (len $params) 4) }}
    <div class="col-md-3 img-grid-elem">
    {{ else }}
    <div class="col-md-4 img-grid-elem">
    {{ end }}
      <img class="b-lazy img-responsive center-block" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ . }}" alt="{{ . }}"></img>
    </div>
  {{ end }}
</div>
